<div class="row mt-3">
    <div class="col-2"></div>
    <div class="col">
        <h1 class="smallScreen fix-title">Lista de Propiedades</h1>
        <h1 class="bigScreen">Lista de Propiedades</h1>
        <hr>
    </div>
</div>

<div class="row container">
    <div class="col-2"></div>
    <div class="col">
        <div class="row">
            <div 
            *ngFor="let property of properties"
            class="col-4 mb-2 bigScreen">
                <div class="card">
                    <app-min-map [lngLat]="property.lngLat" class="card-img-top"></app-min-map>
                    <div class="card-body">
                        <h5 class="card-title">{{property.title}}</h5>
                        <p class="card-text">
                            {{property.description}}
                        </p>
                    </div>
                </div>
            </div>
            <div 
            *ngFor="let property of properties"
            class="col-12 mb-2 smallScreen">
                <div class="card">
                    <app-min-map [lngLat]="property.lngLat" class="card-img-top"></app-min-map>
                    <div class="card-body">
                        <h5 class="card-title">{{property.title}}</h5>
                        <p class="card-text">
                            {{property.description}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
